
<nav id="sidebar-menu">
  <ul class="nav nav-pills nav-stacked menu animated fadeIn" id="menu">
  <!--<ul class="nav nav-pills nav-stacked affix menu animated fadeIn" id="menu" data-spy="affix" data-offset-top="400" data-offset-bottom="450">-->
    <li><a href="{{ li.projects_astro }}" class="smooth">{{ tprl.astro }}</a></li>
    <li><a href="{{ li.projects_hpc }}" class="smooth">{{ tprl.hpc }}</a></li>
    <li><a href="{{ li.projects_dev }}" class="smooth">{{ tprl.dev }}</a></li>
    <li><a href="{{ li.projects_cab }}" class="smooth">{{ tprl.cab }}</a></li>
    <li><a href="{{ li.projects_med }}" class="smooth">{{ tprl.med }}</a></li>
    <li><a href="{{ li.projects_past }}" class="smooth">{{ tprl.past }}</a></li>
  </ul>
</nav>




