
      <nav id="sidebar-menu">
      <ul class="nav nav-pills nav-stacked menu animated fadeIn">
        <li><a href="#title" class="smooth">{{ tcl.top }}</a></li>
        <li><a href="#motivation" class="smooth">{{ tcl.motivation }}</a></li>
        {% if page.review %}<li><a href="#review" class="smooth">{{ tcl.review }}</a></li>{% endif %}
        {% if page.invited %}<li><a href="#invited" class="smooth">{{ tcl.invited }}</a></li>{% endif %}
        {% if page.important_dates %}<li><a href="#important_dates" class="smooth">{{ tcl.important_dates }}</a></li>{% endif %}
        {% if page.participants %}<li><a href="#participants" class="smooth">{{ tcl.participants }}</a></li>{% endif %}
        {% if page.program %}<li><a href="#program" class="smooth">{{ tcl.program }}</a></li>{% endif %}
        {% if page.upload %}<li><a href="#upload" class="smooth">{{ tcl.upload }}</a></li>{% endif %}
        {% if page.dinner %}<li><a href="#dinner" class="smooth">{{ tcl.dinner }}</a></li>{% endif %}
        {% if page.lunch %}<li><a href="#lunch" class="smooth">{{ tcl.lunch }}</a></li>{% endif %}
        {% if page.events %}<li><a href="#events" class="smooth">{{ tcl.events }}</a></li>{% endif %}
        {% if page.soc %}<li><a href="#soc" class="smooth">{{ tcl.soc }}</a></li>{% endif %}
        {% if page.loc %}<li><a href="#loc" class="smooth">{{ tcl.loc }}</a></li>{% endif %}
        {% if page.photos %}<li><a href="#photos" class="smooth">{{ tcl.photos }}</a></li>{% endif %}
        {% if page.refs %}<li><a href="#refs" class="smooth">{{ tcl.refs }}</a></li>{% endif %}
      </ul>
      </nav>

