

{% assign dup = include.dup %}
{% if dup %} {% assign idsfx = '_dup' %}
{% else %} {% assign idsfx = '' %}
{% endif %}

<!-- Archive -->
<div class="tab-pane" id="archive{{ idsfx }}">
  <h3 class="post-title">{{ tpl.archive }}</h3>
  <ul class="simple">
    {% assign scyr = site.time | date: "%Y" %}
    {% assign pageurlstr = page.url | split: '/' %}
    {% assign category = pageurlstr[1] %}
    <li><a href="{{ site.baseurl }}/{{ category }}/index/{{ page.lang }}">{{ tpl.full_index }}</a></li>
    {% for a_year in (1997..scyr) reversed %}
    {% assign sdate = a_year | append: '-' | append: '10' | append: '-' | append: '10' %}
    <li><a href="{{ site.baseurl }}/{{ category }}/{{ a_year }}/{{ page.lang }}">{% include date.html d=sdate l='a' %}</a></li>
    {% endfor %}
  </ul>
</div>


