{% assign tprl = site.data.translations.projects[page.lang] %}
{% assign lel = site.data.links.external[page.lang] %}
{% assign li = site.data.links.internal %}

<!-- Language dependent surrounds -->
<!-- This creates open_surround and close_surround variables into the namespace -->
{% include lang_surround.html shape='round' %}

<div class="panel panel-primary">
    <div class="panel-heading"><i class="fa fa-info-circle"></i> {{tprl.info}} </div>
    <div class="panel-body">
        <ul class="fa-ul">
            <li class="fali">
                <i class="fa-li fa fa-graduation-cap"></i> {{ page.pi }}
            </li>
            {% for auth in page.ci %}
            <li class="fali">
                {% if forloop.first %} <i class="fa-li fa fa-user"></i>{% endif %} {{ auth.name }} 
                {% if auth.affil %}{{ open_surround }}{{ auth.affil }}{{ close_surround }}{% endif %}
            </li>
            {% endfor %}
            <li class="fali"> <i class="fa-li fa fa-calendar"></i> <a
                    href="{{ site.baseurl }}{{ li.calendar}}/{{ page.lang }}">{% include date.html d=page.from l="l" %}</a>
            </li>
            <li class="fali"> <i class="fa-li fa fa-ellipsis-v"></i> <a
                    href="{{ site.baseurl }}{{ li.calendar}}/{{ page.lang }}">{% include date.html d=page.to l="l" %}</a>
            </li>
            {% if page.org %}<li class="fali"> <i class="fa-li fa fa-university"></i>{% if page.org_link %}<a
                    href="{{ page.org_link }}" target="_blank">{{ page.org }}</a>
                <font size="1"><i class="fa fa-external-link"></i></font>{% else %}{{ page.org }}{% endif %}
            </li>{% endif %}

        </ul>
    </div>
</div>