
{% assign dup = include.dup %}
{% if dup %} {% assign idsfx = '_dup' %}
{% else %} {% assign idsfx = '' %}
{% endif %}

    <!-- Categories -->
    <div class="tab-pane" id="categories{{ idsfx }}">
      <h3 class="post-title">{{ tpl.categories }}</h3>
      <ul class="simple">
        {% for c in lc %}
          {% assign ck = c[0] %}
          {% assign cv = c[1] %}
          {% unless ck == 'members' %}
            {% assign curl = cv | prepend: site.baseurl | append: '/' | append: page.lang %}
            <li><a href="{{ curl }}">{{ tcll[ck] }}</a></li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>


