
      <nav id="sidebar-menu">
      <ul class="nav nav-pills nav-stacked menu animated fadeIn" id="menu">
      <!--<ul class="nav nav-pills nav-stacked affix menu animated fadeIn" id="menu" data-spy="affix" data-offset-top="400" data-offset-bottom="450">-->
        <li><a href="#current" class="smooth">{{ tcl.current }}</a></li>
        <li><a href="#future" class="smooth">{{ tcl.future }}</a></li>
        <li><a href="#past" class="smooth">{{ tcl.past }}</a></li>
        <li><a href="#abroad" class="smooth">{{ tcl.abroad }}</a></li>
        <li><a href="#domestic" class="smooth">{{ tcl.domestic }}</a></li>
      </ul>
      </nav>


