
{% assign dup = include.dup %}
{% if dup %} {% assign idsfx = '_dup' %}
{% else %} {% assign idsfx = '' %}
{% endif %}

    <!-- AYW 2014-06-21 16:44 JST
    Generate tags automatically -->
    <div class="tab-pane" id="tags{{ idsfx }}">
      <h3 class="post-title">{{ tpl.tags }}</h3>
      <div class="tags-cloud">
        {% assign tags = site.tags | sort %}
        {% for t in tags %}
        {% assign tk = t[0] %}
          <a href="#" class="tag">{% if page.lang == 'ja' %}{{tt[tk]}}{% else %}{{tk}}{% endif %}</a>
        {% endfor %}
      </div>
    </div>
 
