{% assign tpl = site.data.translations.post_gen.[page.lang] %}
{% assign tcll = site.data.translations.categories.long.[page.lang] %}
{% assign tt = site.data.translations.tags %}
{% assign lc = site.data.links.categories %}
{% assign la = site.data.links.assets %}

{% assign dup = include.dup %}
{% if dup %} {% assign idsfx = '_dup' %}
{% else %} {% assign idsfx = '' %}
{% endif %}

<div class="block">
  <ul class="nav nav-tabs" id="myTab2">
    <li class="active"><a href="#view{{ idsfx }}" data-toggle="tab"><i class="fa fa-th-list"></i></a></li>
    <li><a href="#categories{{ idsfx }}" data-toggle="tab"><i class="fa fa-folder-open"></i></a></li>
    <li><a href="#archive{{ idsfx }}" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
    <li><a href="#tags{{ idsfx }}" data-toggle="tab"><i class="fa fa-tags"></i></a></li>
  </ul>
  <div class="tab-content">

    {% include aside_nav_view.html dup=dup %}

    {% include aside_nav_archive.html dup=dup %}

    {% include aside_nav_categories.html dup=dup %}

    {% include aside_nav_tags.html dup=dup %}

  </div> <!-- tab-content -->
</div>

