
{% assign d = include.d %}
{% assign l = include.l %}

{% assign day = d | date: "%-d" %}
{% assign mon = d | date: "%-m" %}
{% assign cyr = d | date: "%-Y" %}
{% assign ewd = d | date: "%-a" %}

{% if page.lang == 'ja' %}

{% assign hyr = cyr | minus: 1988 %}

{% if l == 'a' %}
  {% assign mon_num = mon | times: 1 %}
  {% if mon_num < 4 %}
    {% assign hyra = hyr | minus: 1 %}
  {% else %}
    {% assign hyra = hyr %}
  {% endif %}
{% endif %}

{% case ewd %}
  {% when 'Mon' %} {% assign jwd = '（月）' %}
  {% when 'Tue' %} {% assign jwd = '（火）' %}
  {% when 'Wed' %} {% assign jwd = '（水）' %}
  {% when 'Thu' %} {% assign jwd = '（木）' %}
  {% when 'Fri' %} {% assign jwd = '（金）' %}
  {% when 'Sat' %} {% assign jwd = '（土）' %}
  {% when 'Sun' %} {% assign jwd = '（日）' %}
{% endcase %} 

{% case l %}
  {% when 'l' %}平{{ hyr }}年 {{ mon }}月 {{ day }}日{{ jwd }}
  {% when 'm' %}{{ cyr }}年 {{ mon }}月 {{ day }}日{{ jwd }}
  {% when 's' %}平{{ hyr }}年 {{ mon }}月 {{ day }}日
  {% when 't' %}平{{ hyr }}年 {{ mon }}月
  {% when 'a' %}平{{ hyra }}年度
  {% when 'y' %}平{{ hyr }}年
  {% else %}平{{ hyr }}年 {{ mon }}月 {{ day }}日
{% endcase %}

{% else %}

{% if l == 'a' %}
  {% assign mon_num = mon | times: 1 %}
  {% if mon_num < 4 %}
    {% assign cyra = cyr | minus: 1 %}
  {% else %}
    {% assign cyra = cyr %}
  {% endif %}
{% endif %}


{% case day %}
  {% when '1' or '21' or '31' %} {% assign sfx = 'st' %}
  {% when '2' or '22' %}         {% assign sfx = 'nd' %}
  {% when '3' or '23' %}         {% assign sfx = 'rd' %}
{% else %} {% assign sfx = 'th' %}
{% endcase %}

{% case l %}
  {% when 'l' %}{{ ewd }}, {{ d | date: "%B" }} {{ day }}{{ sfx }}, {{ cyr }}
  {% when 'm' %}{{ ewd }}, {{ d | date: "%b" }} {{ day }}, {{ cyr }}
  {% when 's' %}{{ d | date: "%b"}} {{ day }}, {{ cyr }}
  {% when 't' %}{{ d | date: "%B"}} {{ cyr }}
  {% when 'a' %}{{ cyra | append: '-04-01' | date: "%b %Y"}} ~ {{ cyra | plus: 1 | append: '-03-31' | date: "%b %Y"}}
  {% when 'y' %}{{ cyr }}
  {% else %}{{ d | date: "%b"}} {{ day }}, {{ cyr }}
{% endcase %}

{% endif %}
