---
layout: admission
title: Postgraduate Studies Admission
lang: en
img: etc.jpg
caption: A selection of figures from research in our group
---

{% assign li = site.data.links.internal %}
{% assign lel = site.data.links.external[page.lang] %}

{% assign positions = 'professor associate_professor lecturer assistant_professor' | split: ' ' %}

<h4>Overview</h4>

<p>The Theoretical Astrophysics Group was established in 1993 as a new research group of the physics department. In 2004, the <a href="{{ lel.pas_physics }}" target="_blank">Graduate School of Pure and Applied Sciences (Department of Physics)</a> moved from a 5-year PhD course system to a new split 2+3 system. The <a href="{{ site.baseurl }}{{ li.research }}/{{ page.lang }}">research topics</a> are mainly in theoretical astrophysics.</p>

<p>The general postgraduate admissions examination is held every year in late August, while the admissions examinations upon commendation are held in early July. For more information on graduate school examinations please refer to the guidelines described in the pages of the <a href="{{ lel.pas_admission }}" target="_blank">Graduate School of Pure and Applied Sciences (Department of Physics)</a>.</p>

<br/>
<h4>About the Theoretical Astrophysics Group</h4>

<ul>
  <li>Please have a look at the "<a href="{{ site.baseurl }}{{ li.information }}/{{ page.lang }}">Information</a>" page</li>
  <li>Contact
  <div class="well well-sm">
    <ul class="fa-ul">
      <li class="fali"><i class="fa-li fa fa-building"></i>Center for Computational Sciences<br />
      1-1-1 Tennodai, Tsukuba, Ibaraki <br />
      Japan 305-8577 <br /></li>
      <li class="fali"><i class="fa-li fa fa-phone"></i> 029-853-6485</li>
      {% for p in positions %}
      {% assign mem = site.members | where: 'lang', page.lang | where: 'position', p | sort: 'order' %}
      {% for m in mem %}
      {% assign fname = m.path | split: '/' | last | remove: '.html' %}
      {% unless fname == "einstein_albert" %}
      <li class="fali"><a href="mailto:{{ m.email }}"><i class="fa-li fa fa-envelope"></i></a> <a href="{{ m.homepage }}">{{ m.name }}</a><br/>{% if m.roles %}{{ m.roles }}, {% endif %}{{ m.research }}</li>
      {% endunless %}
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
  </li>
</ul>

