---
layout: default
---

{% assign tal = site.data.translations.admission.[page.lang] %}
{% assign la = site.data.links.assets %}
{% assign li = site.data.links.internal %}

{% include page_header.html title=page.title %}


<div class="container">
  <div class="row">
    <div class="col-md-7">

      <h3 class="post-title">{{ tal.tag_admission }}</h3>

      <img src="{{ site.baseurl }}{{ la.img }}/{{ page.img }}" class="alignleft img-responsive"/>

      <p>{{ page.caption }}</p>

      <br />
      <br />

    </div>

    <div class="col-md-5">

      {{ content }}

    </div>
    <!-- AYW 2014-07-02 22:56 JST Just kept for reference -->
    <!--<img src="{{ site.baseurl }}{{ la.img }}/{{ page.img[0] }}" alt="" class="imageborder alignright">-->
    <!-- <img src="js/holder.js/200x170" alt="" class="imageborder alignleft"> -->
    <!-- <img src="js/holder.js/200x180/social" alt="" class="imageborder alignright"> -->


  </div>
</div> <!-- container  -->

