---
layout: default
---

{% assign tcl = site.data.translations.calendar[page.lang] %}
{% assign la = site.data.links.assets %}
{% assign li = site.data.links.internal %}

{% include page_header.html title=page.title %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <!--<h3 class="post-title">{{ tml.schedule }}</h3>-->

      <iframe src="http://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=n8hisfse1rahqsem0nb2qgvt4g%40group.calendar.google.com&amp;color=%23A32929&amp;src=gvhoggrns7jcu1iqstaqvtofto%40group.calendar.google.com&amp;color=%23BE6D00&amp;src=ja.japanese%23holiday%40group.v.calendar.google.com&amp;color=%230D7813&amp;ctz=Asia%2FTokyo" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>


    </div>
  </div>
  <div class="row">

    <div class="col-xs-12"><div id="calendar"></div></div>

    <div class="col-md-7">
      <p><a href="#" target="_blank">{{ tcl.previous }}</a></p>
    </div>

    <div class="col-md-5">
    </div>
    <!-- AYW 2014-07-02 22:56 JST Just kept for reference -->
      <!--<img src="{{ site.baseurl }}{{ la.img }}/{{ page.img[0] }}" alt="" class="imageborder alignright">-->
    <!-- <img src="js/holder.js/200x170" alt="" class="imageborder alignleft"> -->
    <!-- <img src="js/holder.js/200x180/social" alt="" class="imageborder alignright"> -->


  </div>
</div> <!-- container  -->

