---
layout: default
---

{% assign tcl = site.data.translations.contact[page.lang] %}

{% include page_header.html title=page.title %}

<div class="container">
  <div class="row">
    <div class="col-md-7">

      <h3>{{ tcl.contact_form }}</h3>

      <!-- Foxyform - Do not change the code! -->
      <a id="foxyform_embed_link_644011" href="http://www.foxyform.com/">foxyform</a>
      <script type="text/javascript">
(function(d, t){
     var g = d.createElement(t),
         s = d.getElementsByTagName(t)[0];
        g.src = "http://www.foxyform.com/js.php?id=644011&sec_hash=20b79320138&width=350px";
           s.parentNode.insertBefore(g, s);
}(document, "script"));
      </script>
      <!-- Do not change the code! -->

      <!-- Doesn't work (temporarily?)
      <iframe src="http://www.qontacto.com/f/53bd591ea2f19c2ffd000013" data-aem="alexander.y.wagner@gmail.com" width="100%" height="461px" style="width:100%;height:461px;border:0;"></iframe>
      -->

    </div>
    <div class="col-md-5">

      {{ content }}

    </div>

  </div>
</div> <!-- container  -->
