---
layout: default
---

{% assign tml = site.data.translations.members[page.lang] %}
{% assign tc_l = site.data.translations.contact[page.lang] %}
{% assign tcf_l = site.data.translations.contact_form[page.lang] %}

{% include page_header.html title=page.title %}

<div class="container">
  <div class="row">
    <div class="col-md-7">

    <h3>{{ tc_l.contact_form }}</h3>

  <div class="contact_form">

    <!-- We are using jquery/ajax so minimal info required in form tag -->
    <form id="contactForm" autocomplete="on">

      <br />

        <div class="row">
          <div class="form-group col-sm-6">
            <label for="InputLastName"> {{ tcf_l.input_last_name }} </label>
            <input type="text" class="form-control" name="InputLastName" id="InputLastName" placeholder="{{ tcf_l.ph_last_name }}" 
              autofocus {% if page.lang == "ja" %} required {% endif %}>
              <!-- These Japanese pattern checks don't work. Neither do unicode points regex. -->
              <!-- pattern="[\p{Han}\p{Hiragana}\p{Katakana}]+" -->
          </div>

          <div class="form-group col-sm-6">
            <label for="InputFirstName"> {{ tcf_l.input_first_name }} </label>
            <input type="text" class="form-control" name="InputFirstName" id="InputFirstName"
              placeholder="{{ tcf_l.ph_first_name }}" 
              {% if page.lang == "ja" %} required {% endif %}>
              <!-- These Japanese pattern checks don't work. Neither do unicode points regex. -->
              <!-- pattern="[\p{Han}\p{Hiragana}\p{Katakana}]+" -->
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6">
            <label for="InputLastNameRomaji"> {{ tcf_l.input_last_name_romaji }} </label>
            <input type="text" class="form-control" name="InputLastNameRomaji" id="InputLastNameRomaji"
              placeholder="{{ tcf_l.ph_last_name_romaji }}" 
              pattern="[A-ZÀ-Ÿ][-'a-zà-ÿ]{1,}" required>
          </div>

          <div class="form-group col-sm-6">
            <label for="InputFirstNameRomaji"> {{ tcf_l.input_first_name_romaji }} </label>
            <input type="text" class="form-control" name="InputFirstNameRomaji" id="InputFirstNameRomaji"
              placeholder="{{ tcf_l.ph_first_name_romaji }}" 
              pattern="[A-ZÀ-Ÿ][-'a-zà-ÿ]{1,}" required>
          </div>
        </div>


        <div class="row">
          <div class="form-group col-sm-6">
            <label for="InputEmail">{{ tcf_l.input_email }}</label>
            <input type="email" class="form-control" name="InputEmail" id="InputEmail"
              placeholder="{{ tcf_l.ph_email }}" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z.]{2,}$" required>
          </div>



	  {% assign names = "" %}
	  {% assign emails = "" %}
          {% assign positions = 'professor associate_professor lecturer assistant_professor postdoc postdoc_student d5 d4 d3 d2 d1' | split: ' ' %}

          <div class="form-group col-sm-6">
            <label for="InputRecipient"> {{ tcf_l.input_recipient }} </label>
            <input list="recipient" class="form-control" name="InputRecipient" id="InputRecipient" 
             placeholder="{{ tcf_l.ph_recipient }}" required>
            <datalist id="recipient">
              {% for p in positions %}
              {% assign mem = site.members | where: 'lang', page.lang | where: 'position', p | sort: 'order' %}
	      {% if tcf_l.additional_recipients %}
                {% assign recipients = mem | concat: tcf_l.additional_recipients %}
	      {% else %}
                {% assign recipients = mem %}
	      {% endif %}
              {% for h in recipients %}
	      {% assign names = names | append: h.name | append: '|' %}
	      {% assign emails = emails | append: h.email | append: '|' %}
	      <option value="{{ h.name }}">
              {% endfor %}
              {% endfor %}
            </datalist>
          </div>
        </div>

	<!-- Send which language we're on, and names and  -->
	<input type="hidden" name="InputLang" id="InputLang" value="{{ page.lang }}" >
	<input type="hidden" name="InputNames" id="InputNames" value="{{ names }}" >
	<input type="hidden" name="InputEmails" id="InputEmails" value="{{ emails }}" >

      <br />


        <div class="row">
          <div class="form-group col-sm-12">
            <label for="InputSubject">{{ tcf_l.input_subject }}</label>
            <input type="text" class="form-control" name="InputSubject" id="InputSubject"
              placeholder="{{ tcf_l.ph_subject }}" required>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-12">
            <label for="InputBody">{{ tcf_l.input_body }}</label>
            <textarea type="text" class="form-control" name="InputBody" id="InputBody"
                      placeholder="{{ tcf_l.ph_body }}" rows=15 required></textarea>
          </div>
        </div>


      <br />

      <div class="clearfix"></div>

      <input type="hidden" name="recaptcha_response" id="recaptchaResponse">

    </form>

      <p class="grecaptcha-message">This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>


      <div class="row">
        <div class="col-sm-12">
          <button type="submit" id="sf_submit_btn" class="btn btn-primary pull-right" form="contactForm">{{ tcf_l.submit }}</button>
        </div>
      </div>

      <br />

    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-primary" id="form_success" style="display:none;">
          <div class="panel-body">
            {{ tcf_l.form_success }}
          </div>
        </div>
      </div>
    </div>


  </div>








    </div>
    <div class="col-md-5">

      {{ content }}

    </div>

  </div>
</div> <!-- container  -->
