---
layout: default
---

{% assign la = site.data.links.assets %}
{% assign lc = site.data.links.categories %}
{% assign li = site.data.links.internal %}
{% assign thl = site.data.translations.home.[page.lang] %}
{% assign tcsl = site.data.translations.categories.short.[page.lang] %}
{% assign tcll = site.data.translations.categories.long.[page.lang] %}
{% assign tt = site.data.translations.tags %}

<section>
<div id="carousel-example-generic" class="carousel carousel-mind slide" data-ride="carousel" data-interval="5000">
  <!-- Indicators -->
  <ol class="carousel-indicators hidden-xs">
    {% for c in page.carousel %}
    <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.first %} active {% endif %}"></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for c in page.carousel %}
    <div class="item {% if forloop.first %} active {% endif %}">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-7">
            <div class="carousel-caption">
              <div class="carousel-text hidden-xs">
                <h1 class="animated fadeInDownBig">{{ c.title }}</h1>
                <ul class="list-unstyled carousel-list">
                {% for s in c.sub %}
                  <li class="animated fadeInLeft"><i class="fa fa-caret-right"></i><span>{{ s }}</span></li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
            <div class="carousel-img">
              <img src="{{ site.baseurl }}{{ la.img }}/{{ c.img }}" class="img-responsive animated fadeInUp" alt="Image">
            </div>
          </div>
          <div class="col-md-6 col-sm-5 hidden-lg hidden-md hidden-sm carousel-img-wrap">
              <img src="{{ site.baseurl }}{{ la.img }}/{{ page.img_dummy }}" height="100px" alt="Image">
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control hidden-xs" href="#carousel-example-generic" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control hidden-xs" href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
</section> <!-- carousel -->

<!-- The about us and mission section -->
<section class="animated fadeIn">
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h2 class="section-title">{{ page.title }}</h2>
      <img src="{{ site.baseurl }}{{ la.img }}/{{ page.img }}" class="img-responsive imageborder" alt="Image">
      <p class="p-lg">{{ content }}</p>
      <div class="alert alert-info">
        <strong>{{ thl.important }}</strong> {{ page.important }}
      </div>
    </div>
    <div class="col-md-5">
      <h2 class="section-title">{{ tcll.featured }}</h2>

      <div class="panel panel-default">
        <div class="panel-body">

          {% assign last_feature = site.categories['featured'] | where: 'lang',page.lang | first %}
          {% assign posturl = last_feature.url | prepend: site.baseurl %}
          <h3 class="post-title"><a href="{{ posturl }}" class="transicion"> {{ last_feature.title }}</a></h3>
          <div class="row">
            <div class="col-lg-12">
              {% if last_feature.img %}
              <a href="{{ posturl }}" class="thumbnail"><img src="{{ site.baseurl }}{{ la.img }}/{{ last_feature.img[0] }}" class="img-responsive" alt="Image"></a>
              {% endif %}
              {% assign lastfc = last_feature.content | strip_html %}
              {% include lang_truncate.html text=lastfc %}
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-lg-10 col-md-9 col-sm-8">
              <ul class="fa-ul">
                <!-- Language dependent surrounds -->
                <!-- This creates open_surround and close_surround variables into the namespace -->
                {% include lang_surround.html shape='round' %}
                {% for auth in last_feature.authors %}
                  <li>
                  {% if forloop.first %}
                    <i class="fa-li fa fa-pencil"></i>
                  {% endif %}
                  {{ auth.name }}{{ open_surround }}{{ auth.affil }}{{ close_surround }}
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
              <a href="{{ posturl }}" class="pull-right">{{ thl.read_more }} &raquo;</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> <!-- container -->
</section>


<!-- Recent posts section -->
<section id="home-blog">
<!-- AYW a quick fix to get title outside of image box in sm and xs modes. -->
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
      <h2 class="section-title">{{ thl.recent_posts }}</h2>
    </div>
<!-- AYW -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 hidden-xs">
      <h2 class="section-title">{{ thl.recent_posts }}</h2>
    </div>
    <div class="col-md-7">
      <section class="home-post">
      {% assign last_post = site.posts | where: 'lang', page.lang | first %}
      {% assign last_post_url = last_post.url | prepend: site.baseurl %}
      {% if last_post.img %}
      <a href="{{ last_post_url }}" class="thumbnail"><img src="{{ site.baseurl }}{{ la.img }}/{{ last_post.img[0] }}" class="img-responsive" alt="Image"></a>
      {% endif %}
      <h2 class="home-post-title"><a href="{{ last_post_url }}">{{ last_post.title }}</a></h2>
      {% assign lastpc = last_post.content | strip_html %}
      <p>{% include lang_truncate.html text=lastpc nen=100 nja=500 %}</p>
      <div class="row home-post-footer">
        <div class="col-md-8">
          <div class="home-post-meta">
            <i class="fa fa-clock-o"></i> <a href="{{ site.baseurl }}{{ ln.calendar }}/{{ page.lang }}">{% include date.html d=last_post.date l="s" %}</a>
            {% assign last_post_cat = last_post.categories[0] %}
            <i class="fa fa-folder-open"></i> <a href="{{ site.baseurl }}{{ lc[last_post_cat] }}/{{ page.lang }}">{{ tcsl[last_post_cat] }}</a>
            <i class="fa fa-tags"></i>
            {% if page.lang == 'ja' %}
              {% for t in last_post.tags %}
                {{ tt[t] }} {% unless forloop.last %}, {% endunless %} 
              {% endfor %}
            {% else %}
              {{ last_post.tags | array_to_sentence_string }}
            {% endif %}
          </div>
        </div>
        <div class="col-md-4">
          <a href="{{ last_post_url }}" class="btn btn-primary btn-block">{{ thl.read_more }}</a>
        </div>
      </div>
      </section>
    </div>
    <div class="col-md-5">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
      {% for cat in tcsl %}
      {% unless cat[0] == 'achievements' or cat[0] == 'members' or cat[0] == 'featured' %}
        <li {% if cat[0] == 'news' %} class="active" {% endif %}><a href="#cat{{ forloop.index }}" data-toggle="tab">{{ cat[1] }}</a></li>
      {% endunless %}
      {% endfor %}
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        {% for cat in lc %}
        {% assign c = cat[0] %}
        {% assign l = cat[1] %}
        {% unless c == 'achievements' or c == 'members' or c == 'featured' %}
        {% assign posts_lang = site.categories[c] | where: 'lang', page.lang %}
        <div class="tab-pane {% if c == 'news' %} active {% endif %}" id="cat{{ forloop.index }}">
          {% if last_post_cat == c %} {% assign offs = 1 %} {% else %} {% assign offs = 0 %} {% endif %}
          {% for post in posts_lang limit: 4 offset: offs %}
          {% assign posturl = post.url | prepend: site.baseurl %}
          <div class="media">
            <a class="pull-left" href="{{ posturl }}"><img class="media-object" src="{{ site.baseurl }}{{ la.img }}/{% if post.img_thumb %}{{ post.img_thumb }}{% else %}no_img-thumb.png{% endif %}" width="100" height="100" alt="image"></a>
            <div class="media-body">
              <h4 class="media-heading"><a href="{{ posturl }}">{{ post.title | truncatewords: 12 }}</a></h4>
              {% assign postcontent = post.content | strip_html %}
              <p>{% include lang_truncate.html text=postcontent nen=17 nja=85 %}</p>
            </div>
          </div>
          {% endfor %}
          <a href="{{ site.baseurl }}{{ lc[c] }}/{{ page.lang }}" class="btn btn-default pull-right">{{ thl.more_articles }}</a>
          <div class="clearfix"></div>
        </div>
        {% endunless %}
        {% endfor %}
      </div>
    </div>
  </div>
</div> <!-- container -->
</section>

<!-- Recent work section -->
<section id="home-works">
<!-- AYW a quick fix to get title outside of image box in sm and xs modes. 
     This is just a copy of the div below -->
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
      <h2 class="section-title text-center">{{ thl.recent_work }}</h2>
    </div>
<!-- AYW -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 hidden-xs">
      <h2 class="section-title text-center">{{ thl.recent_work }}</h2>
    </div>
    {% assign posts_lang = site.categories['achievements'] | where: "lang", page.lang %}
    {% if last_post_cat == 'achievements' %} {% assign offs = 1 %} {% else %} {% assign offs = 0 %} {% endif %}
    {% for post in posts_lang limit: 6 offset: offs %}
    {% assign posturl = post.url | prepend: site.baseurl %}
    <div class="col-md-4 col-sm-6">
      <div class="img-caption">
        <img src="{{ site.baseurl }}{{ la.img }}/{% if post.img %}{{ post.img[0] | replace: '.png', '-800x533.png' }}{% else %}no_img-800x533.png{% endif %}" class="img-responsive" alt="Image">
        <div class="caption">
          <div class="caption-content">
            <a href="{{ posturl }}" class="animated fadeInDown"><i class="fa fa-search"></i>{{ thl.more_info }}</a>
            <h4>{{ post.title }}</h4>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</section>    



