---
layout: default
---

{% assign tml = site.data.translations.members.[page.lang] %}
{% assign la = site.data.links.assets %}
{% assign li = site.data.links.internal %}

{% include page_header.html title=page.title %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h3 class="post-title">{{ tml.current }}</h3>

      <table class='table table-striped'>
        <thead>
          <tr>
            <th>{{ tml.name }}</th>
            <th>{{ tml.position }}</th>
            <th>{{ tml.tel }}</th>
            <th>{{ tml.email }}</th>
            <th>{{ tml.research }}</th>
          </tr>
        </thead>
        <tbody>
          {% assign positions = 'professor associate_professor lecturer assistant_professor postdoc d4 d3 d2 d1 m3 m2 m1 y4' | split: ' ' %}
          {% for p in positions %}
          {% assign mem = site.members | where: 'lang', page.lang | where: 'position', p | sort: 'order' %}
          {% for m in mem %}
          <!-- TODO: have a map in data somewhere and automate this so that we don't have to hack this layout every time -->
          <!-- {% if m.loc == 'paris' %} {% assign ext_symb = '†' %} -->
          <!-- {% else %} {% assign ext_symb = '' %} -->
          <!-- {% endif %} -->
          {% assign fname = m.path | split: '/' | last | remove: '.html' %}
          {% if fname != "einstein_albert" %}
          <tr>
            <td>{% if m.homepage %}<a href='{{ m.homepage }}' target='_blank'>{% elsif m.layout == 'profile' %}<a href='./{{ fname }}/' target='_blank'>{% endif %}{{ m.name }}{% if m.homepage or m.layout == 'profile' %}</a>{% endif %}<sup>{{ ext_symb }}</sup></td>
            <td>{{ tml[p] }}</td>
            <td>{{ m.tel }}</td>
            <td>{{ m.email }}</td>
            <td>{{ m.research }}</td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
      <!-- <p><sup>†</sup>{{ tml.loc_paris }}</p> -->
      <br/>

      {{ content }}

      <p><a href="{{ site.baseurl }}{{ li.alumni }}/{{ page.lang }}">{{ tml.alumni }}</a></p>

    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
    </div>

    <div class="col-md-5">
    </div>
    <!-- AYW 2014-07-02 22:56 JST Just kept for reference -->
    <!-- <img src="{{ site.baseurl }}{{ la.img }}/{{ page.img[0] }}" alt="" class="imageborder alignright"> -->
    <!-- <img src="js/holder.js/200x170" alt="" class="imageborder alignleft"> -->
    <!-- <img src="js/holder.js/200x180/social" alt="" class="imageborder alignright"> -->

  </div>
</div> <!-- container  -->

