---
layout: default
---

{% assign li = site.data.links.internal %}

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <!-- Search Header -->
      <div class="hidden-md hidden-lg">
        <br />

        <form action="{{ site.baseurl }}{{ li.search }}/{{ page.lang }}/index.html">
        <input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
        </form>

          <!--
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
          -->
        <!--</div>-->
      </div>

    <div id="tipue_search_content">
      <div class="tipue_search_spinner">
        <div class="tipue_search_rect1"></div>
        <div class="tipue_search_rect2"></div>
      </div>
    </div>

    </div>


  </div> <!-- row -->
</div> <!-- container  -->

