---
layout: default
---

{% assign tcl = site.data.translations.conferences.[page.lang] %}
{% assign tcll = site.data.translations.categories.long.[page.lang] %}
{% assign la = site.data.links.assets %}

{% include page_header.html title=tcll.conferences %}

<div class="container">
  <div class="row">

    {% unless page.web %}
    <div class="col-md-3">
      <nav id="sidebar-menu">
      <ul class="nav nav-pills nav-stacked affix menu animated fadeIn" id="menu" data-spy="affix" data-offset-top="400" data-offset-bottom="450">
        <li><a href="#title" class="smooth">{{ tcl.top }}</a></li>
        {% if page.abstract %}<li><a href="#abstract" class="smooth">{{ tcl.abstract }}</a></li>{% endif %}
        {% if page.invited %}<li><a href="#invited" class="smooth">{{ tcl.invited }}</a></li>{% endif %}
        {% if page.participants %}<li><a href="#participants" class="smooth">{{ tcl.participants }}</a></li>{% endif %}
        {% if page.important_dates %}<li><a href="#important_dates" class="smooth">{{ tcl.important_dates }}</a></li>{% endif %}
        {% if page.soc %}<li><a href="#soc" class="smooth">{{ tcl.soc }}</a></li>{% endif %}
        {% if page.loc %}<li><a href="#loc" class="smooth">{{ tcl.loc }}</a></li>{% endif %}
        {% if page.program %}<li><a href="#program" class="smooth">{{ tcl.program }}</a></li>{% endif %}
        {% if page.dinner %}<li><a href="#dinner" class="smooth">{{ tcl.dinner }}</a></li>{% endif %}
        {% if page.events %}<li><a href="#events" class="smooth">{{ tcl.events }}</a></li>{% endif %}
      </ul>
      </nav>
    </div> <!-- col -->

    {% endunless %}

    {% if page.web %}
      <div class="col-md-8">
    {% else %}
      <div class="col-md-5">
    {% endif %}

      <section>

      <!-- Language dependent surrounds -->
      {% if page.part %}
        <!-- This creates open_surround and close_surround variables into the namespace -->
        {% include lang_surround.html shape='round' %}
      {% endif %}


      <h2 id="title" class="post-title">{{ page.title }}</h2>

      {% if page.img %}
      <img src="{{ site.baseurl }}{{ la.img }}/{{ page.img[0] }}" class="img-responsive" alt="Image">
      {% endif %}

      {% unless page.web %}
      {{ content }}
      {% endunless %}

      {% if page.invited %}
      <h3 id="invited"> {{ tcl.invited }} </h3>
      {% endif %}

      {% if page.participants %}
      <h3 id="participants"> {{ tcl.participants }} </h3>
      {% endif %}

      {% if page.important_dates %}
      <h3 id="important_dates"> {{ tcl.important_dates }} </h3>
      {% endif %}

      {% if page.soc %}
      <h3 id="soc"> {{ tcl.soc }} </h3>
      {% endif %}
      
      {% if page.loc %}
      <h3 id="loc"> {{ tcl.loc }} </h3>
      {% endif %}

      {% if page.program %}
      <h3 id="program"> {{ tcl.program }} </h3>
      {% endif %}

      {% if page.dinner %}
      <h3 id="dinner"> {{ tcl.dinner }} </h3>
      {% endif %}

      {% if page.events %}
      <h3 id="events"> {{ tcl.events }} </h3>
      {% endif %}


      </section>

    </div>

    {% unless page.web %}
    <div class="col-md-4">
      <aside class="sidebar">

        <!-- AYW 2014-06-22 13:26 JST Not yet programmed -->
        <!-- {% raw %} {% include aside_search.html %} {% endraw %} -->

        {% if page.abstract %} <!-- don't need this?! -->
        {% include aside_about.html a=tcl.abstract t=content %}
        {% endif %}

        {% include aside_conf.html %}
        {% include aside_nav_single.html %}

        <!-- AYW 2014-06-22 13:44 JST Do we really need one? -->
        <!-- {% raw %} {% include aside_featured.html %} {% endraw %} -->

      </aside>
    </div> <!-- col -->
    {% unless %}



  </div> <!-- row -->
</div> <!-- container  -->
