---
layout: default
---

{% assign tal = site.data.translations.annual_reports[page.lang] %}
{% assign tcll = site.data.translations.categories.long[page.lang] %}
{% assign la = site.data.links.assets %}

{% include page_header.html title=tcll.annual_reports %}

<div class="container">
  <div class="row">

    <div class="col-md-4 hidden-md hidden-lg">
      <aside class="sidebar">

      <!-- AYW 2014-06-22 13:26 JST Not yet programmed -->
      <!-- {% raw %} {% include aside_search.html %} {% endraw %} -->

      {% include aside_annual_reports.html %}

      <br/>

      {% include aside_pills_single_annual_report.html %}

      <br/>

      <!-- AYW 2014-06-22 13:44 JST For movies -->
      <!-- {% raw %} {% include aside_featured.html %} {% endraw %} -->

      </aside>
    </div> <!-- col -->


    <div class="col-md-8">

      <section>


      <h2 class="post-title">{{ page.title | remove_all: '{' }}</h2>
      <!-- AYW 2014-06-23 13:30 JST Some tips for content
      - Use <strong></strong> for emphasis,
      - <p></p>, <p class="lead"></p> for leading text, 
      - and <h3> for sub-titles
        - Put all images in img and use: <img src="img/7.jpg" class="img-responsive imageborder" alt="Image"> 
        -->

      <h3>{% for auth in page.author %} {% if forloop.last %}{%unless forloop.first %} &amp; {% endunless %}{% endif %} {% if auth.note == 'grouped' and page.lang == 'ja' %}{{ auth.posn }}{% endif %}{{ auth.name }}{% if auth.note == 'grouped' and page.lang == 'en' %} {{ auth.posn }}{% endif %}{% unless forloop.last %}, &nbsp;{% endunless %}{% endfor %}</h3>

      <br />

      {% if page.abstract %}
      <h5>{{ tal.abstract }}</h5>

      {{ page.abstract }}

      <br />
      <br />

      {% endif %}

      <br />

      {{ content }}

      <br />
      <br />

      {% if page.refs %}
      <h3 id="refs">{{ tal.refs }}</h3>
      <ol>
        {% for ref in page.refs %}
        {% assign targ = ref.link | truncate: 4,'' %}
        {% assign chr1 = targ | truncate: 1,'' %}
        <li id="ref{{ forloop.index }}"><a href="{% unless targ == "http" %}{{ site.baseurl }}{{ la.doc }}/{% endunless %}{{ ref.link }}" {% if targ == "http" %} target="_blank" {% endif %}>{{ ref.name }}</a> {% if targ == "http" %}{% unless chr1 == "/" %} <i class="fa fa-external-link"></i>{% endunless%}{% endif %}</li>
        {% endfor %}
      </ol>
      {% endif %}


      </section>    

    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
      <aside class="sidebar">

      <!-- AYW 2014-06-22 13:26 JST Not yet programmed -->
      <!-- {% raw %} {% include aside_search.html %} {% endraw %} -->
      {% include aside_annual_reports.html %}

      <br/>

      {% include aside_pills_single_annual_report.html %}

      <br/>
      <br/>

      <!-- AYW 2014-06-22 13:44 JST For movies -->
      <!-- {% raw %} {% include aside_featured.html %} {% endraw %} -->

      </aside>
    </div> <!-- col -->

    <div class="col-md-4">
      <aside>
        {% include aside_nav_single.html dup=true %}
      </aside>
    </div> <!-- col -->

  </div> <!-- row -->
</div> <!-- container  -->



