<!DOCTYPE html>
<html lang="en">

  <body>

    <div class="boxed animated fadeIn animation-delay-5">

      <header class="wrap-title">
      <div class="container">
        <h1 class="page-title">Single Post</h1>

        <ol class="breadcrumb hidden-xs">
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li class="active">Single Post</li>
        </ol>
      </div>
      </header>

      <div class="container">

        <div class="row">
          <div class="col-md-8">
            <section>
            <h2 class="post-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
            </section>
            <section>
            <h2  class="post-title">Comments</h2>
            </section> <!-- comments -->

            <section class="comment-form">
            <h2  class="post-title">Leave a Comment</h2>
            </section> <!-- comment-form -->
          </div>

          <div class="col-md-4">

            <aside class="sidebar">

            <div class="block">
              <div class="input-group">
                <input type="text" placeholder="Search..." class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                </span>
              </div><!-- /input-group -->
            </div>

            <div class="block">
              <ul class="nav nav-tabs" id="myTab2">
                <li class="active"><a href="#fav" data-toggle="tab"><i class="fa fa-star"></i></a></li>
                <li><a href="#categories" data-toggle="tab"><i class="fa fa-folder-open"></i></a></li>
                <li><a href="#archive" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
                <li><a href="#tags" data-toggle="tab"><i class="fa fa-tags"></i></a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="fav">
                  <h3 class="post-title">Favorite Post</h3>
                  <ul class="media-list">
                    <li class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="img/m2.jpg" width="80" height="80" alt="image"></a>
                    <div class="media-body">
                      <p class="media-heading"><a href="#">Lorem ipsum dolor sit amet aut consectetur adipisicing elitl libero</a></p>
                      <small>Sep, 28 2013</small>
                    </div>
                    </li>
                  </ul>
                </div>
                <div class="tab-pane" id="archive">
                  <h3 class="post-title">Archives</h3>
                  <ul class="simple">
                    <li><a href="#">March 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                  </ul>
                </div>
                <div class="tab-pane" id="categories">
                  <h3 class="post-title">Categories</h3>
                  <ul class="simple">
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Web Developer</a></li>
                  </ul>
                </div>

                <div class="tab-pane" id="tags">
                  <h3 class="post-title">Tags</h3>
                  <div class="tags-cloud">
                    <a href="#" class="tag">Web</a>
                    <a href="#" class="tag">Games</a>
                  </div>
                </div>
              </div> <!-- tab-content -->
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading"><i class="fa fa-play-circle"></i>Featured video</div>
              <div class="video">
                <iframe src="http://player.vimeo.com/video/21081887?title=0&amp;byline=0&amp;portrait=0"></iframe>

              </div>
            </div>

            </aside> <!-- Sidebar -->
          </div>
        </div>
      </div> <!-- container  -->

    </div> <!-- boxed -->



  </body>

</html>

