---
layout: default
---

{% assign tsl = site.data.translations.uchu_forum.[page.lang] %}
{% assign tcll = site.data.translations.categories.long.[page.lang] %}
{% assign la = site.data.links.assets %}

{% include page_header.html title=tcll.uchu_forum %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <section>

      <!-- Get post number by comparing dates -->
      {% assign all_posts = site.categories['uchu_forum'] | where: 'lang', page.lang | group_by: 'date' %}
      {% assign nposts = all_posts | size %}
      {% for p in all_posts reversed %}
        {% assign d = page.date | date: "%Y-%m-%d" %}
        {% assign pname = p.name | date: "%Y-%m-%d" %}
        {% if d == pname %} {% assign npost = forloop.index %} {% endif %}
      {% endfor %}

      <!-- Language dependent surrounds -->
      {% if page.part %}
        <!-- This creates open_surround and close_surround variables into the namespace -->
        {% include lang_surround.html shape='round' %}
      {% endif %}

      <!-- This creates an lang_count variable into the namespace -->
      {% include lang_count.html number=npost %}

      <p class="lead">{{ tsl.count_pre }}{{ npost }}<sup>{{ lang_count }}</sup>{{ tsl.count_aft }}{% if page.part %}{{ open_surround }}{{ tsl.part }}{{ page.part }}{{ close_surround }}{% endif %}</p>

      {% if page.img_thumb %}
      {% unless page.img_thumb contains 'no_thumb' %}
      <img src="{{ site.baseurl }}{{ la.img }}/{{ page.img_thumb }}" width="170px" style="margin-left:20px;" class="img-responsive pull-right" alt="Image">
      {% endunless %}
      {% endif %}

      <h2 class="post-title">{{ page.title }}</h2>
        <!-- AYW 2014-06-23 13:30 JST Some tips for content
             - Use <strong></strong> for emphasis,
             - <p></p>, <p class="lead"></p> for leading text, 
             - and <h3> for sub-titles
             - Put all images in img and use: <img src="img/7.jpg" class="img-responsive imageborder" alt="Image"> 
        -->

        <h3>{% if page.webpage %}<a href="{{ page.webpage }}" target="_blank">{% endif %}{{ page.speaker }}{% if page.webpage %}</a>{% endif %}</h3>
        <h4>{{ page.affil }}</h4>

        <br/>

        <h5>{{ tsl.abstract }}</h5>
        {{ page.content }}

        {% if page.img %}
        <img src="{{ site.baseurl }}{{ la.img }}/{{ page.img[0] }}" class="img-responsive" alt="Image">
        {% endif %}

      </section>

    </div>

    <div class="col-md-4">
      <aside class="sidebar">

        <!-- AYW 2014-06-22 13:26 JST Not yet programmed -->
        <!-- {% raw %} {% include aside_search.html %} {% endraw %} -->

        {% include aside_info.html %}
        {% include aside_nav_single.html %}

        <!-- AYW 2014-06-22 13:44 JST Do we really need one? -->
        <!-- {% raw %} {% include aside_featured.html %} {% endraw %} -->

      </aside>
    </div> <!-- col -->

  </div> <!-- row -->
</div> <!-- container  -->
